 <h2>Items List</h2>

    <div *ngIf="store.isLoading()" class="center-msg">
      <mat-spinner diameter="50"></mat-spinner>
      <p>Loading data...</p>
    </div>

    <div *ngIf="store.error()" class="error-msg">
      {{ store.error() }}
    </div>

    <mat-list *ngIf="!store.isLoading() && !store.error()">
      <mat-list-item *ngFor="let item of store.items()">
        <span matListItemTitle>{{ item.name }}</span>
        <span matListItemLine>{{ item.description }}</span>
      </mat-list-item>
    </mat-list>